#mainNav {
  padding-top: 50px;
}

header.masthead {
  padding: 0;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.services-img {
  border-radius: 50%;
  height: 300px;
}
